body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5A2D82;
}
.container {
    position: relative;
    width: 800px;
    height: 600px;
    background-color: #5A2D82;
}
.star {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
    height: 450px;
}
.timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid #FFD700;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', monospace;
    font-size: 20px;
    color: black;
}
.reset {
    position: absolute;
    top:33%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #FF0000;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.start {
    position: absolute;
    top: 23%;
    right: 30%;
    background-color: #00FF00;
    color: white;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
}
.stop {
    position: absolute;
    bottom: 20%;
    left: 23%;
    background-color: #FFB6C1;
    color: white;
    border: none;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-size: 16px;
    cursor: pointer;
}